{
    "testnet": true,
    "network_mainnet": "https://rest.bitcoin.com/v2/",
    "network_testnet": "https://trest.bitcoin.com/v2/",
    "ws_mainnet": "wss://ws.bitcoin.com",
    "ws_testnet": "wss://tws.bitcoin.com",
    "token_address": "e3cb905d9993f48c4763ce26810987214bf5413bdc963161e01b7d64b9161f1c",
    "language": "en",
    "telegram_token": "",
    "word_list_language": "english",
    "default_tip_amount": 100,
    "owner_telegram_id": 0,
    "email": {
        "to_address": "slp-bot@example.com",
        "from_address": "slp-bot@example.com",
        "config": {
            "sendmail": true,
            "newline": "unix",
            "path": "/usr/sbin/sendmail"
        }
    },
    "tip_emojis": [
        {
            "icon": "🍺",
            "value": 10000
        },
        {
            "icon": "🌱",
            "value": 1000
        }
    ],
    "tip_keyword": "tip\\s+([0-9]+[\\.0-9]*)"
}
